{# Esto es un comentario #}
{% extends "index.html" %}
{# definir contenidos que tendrán cada uno de los bloques #}
{% block script %} 
<script src="/static/javascript/historial.js"></script>
{% endblock %}
{% block tituloPestana %} 
    CRUD Historial
{% endblock %}
{% block tituloPagina %} 
    <div class="text-center mt-5">
        <h1></h1>
    </div>
{% endblock %}

{% block mensaje %} 
{% if mensaje %}
    <div class="alert alert-success mt-5" role="alert">
        {{ mensaje }}
    </div>
{% elif error %}
    <div class="alert alert-danger mt-5" role="alert">
        {{ error }}
    </div>
{% endif %}
{% endblock %}
{% block contenido %} 
<br>
<div class="border shadow mt-4 p-4 container col-12">
    <div class="row"> 
        <h3 class="h3 text-center text-dark">Historial de Compras de <span class="txtUsername">{{user.username}}</span></h3>
        <h5 class="text-dark text-end Price">Total: ${{total_historial}}</h5>
        {%if request.session.historial.items%}
        {%for key, value in request.session.historial.items%}
        <input type="text" hidden class="txtId" value="{{value.producto_id}}">
        <input type="text" hidden class="txtDireccion" value="{{user.direccion}}">
        <div class="border col-md-3 m-1 p-2">
            <div class="btn-group float-end">
                <button type="button" class="btn m-2 col-md-2" data-bs-toggle="dropdown" aria-expanded="false"><svg class="bi" width="22" height="22" fill="currentColor"><use xlink:href="/static/images/bootstrap-icons/bootstrap-icons.svg#three-dots-vertical"/></svg></button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item btnCancel" href="{%url 'HDel' value.producto_id%}">Cancelar Compra</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item btnEnviar" href="{%url 'estado'%}">Ver Detalles</a></li>
                </ul>
              </div>
            <h6 class="offset-md-2 text-center text-dark mt-3">{{value.nombre}}</h6>
            <a href="{% url 'productos' %}/{{ value.producto_id }}/"><img src="/statir/images/imagen-no-encontrada.jpg" class="offset-md-1" width="250" height="250" alt=""></a>
            <div class="offset-md-1 mt-2">
                <h6 class="text-dark">Cantidad: <span class="text-secondary txtCantidad">{{value.cantidad}}</span></h6>
                <h6 class="text-dark">Total: <span class="text-secondary Price">${{value.acumulado}}</span></h6>
            </div>
        </div>
        {%endfor%}
        {%else%}
        <tr class="table-dark">
            <td colspan="3">
              <div class="mt-3 alert alert-danger text-center">Aun no ha comprado nada</div>
            </td>
          </tr>
        {%endif%}
    </div>
</div>
{% endblock %}
{% block listado %} 
{% endblock %}