{# Esto es un comentario #}
{% extends "index.html" %}
{# definir contenidos que tendrán cada uno de los bloques #}
{% block script %} <script>
  $(function()
  {
      $('#modal').click();
  });
</script> {% endblock %}
{% block tituloPestana %} 
    Inicio
{% endblock %}
{% block tituloPagina %} 
    <div class="text-center mt-5">
        <h1></h1>
    </div>
{% endblock %}

{% block mensaje %} 
{% if mensaje %}
    <div class="alert alert-success mt-5" role="alert">
        {{ mensaje }}
    </div>
{% elif error %}
    <div class="alert alert-danger mt-5" role="alert">
        {{ error }}
    </div>
{% endif %}
{% endblock %}
{% block contenido %} 
<!-- <br>
<button hidden type="button" id="modal" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"></button>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Suscripción</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Suscribete para obtener descuentos imperdibles.
      </div>
      <div class="modal-footer">
        <a href="{% url 'donar' %}"><button type="button" class="btn btn-primary">Suscribirse</button></a>
      </div>
    </div>
  </div>
</div> -->
          <h2 class="text-center mt-4 p-2 text-secondary"> NUESTRAS OFERTAS ESPECIALES!! </h2>
          <div class="container mt-3 border p-2 shadow bg-light">
            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
              </div>
              <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="2500"><a href="{%url 'productos'%}">
                  <img src="/static/images/Stanley.jpg" class="d-block w-100" height="400" alt="...">
                </a>
                  <div class="carousel-caption d-none d-md-block">
                  </div>
                </div>
                <div class="carousel-item" data-bs-interval="2500"><a href="{%url 'productos'%}">
                  <img src="/static/images/Makita.jpg" class="d-block w-100" height="400" alt="...">
                </a>
                  <div class="carousel-caption d-none d-md-block">
                  </div>
                </div>
                <div class="carousel-item" data-bs-interval="2500"><a href="{%url 'productos'%}">
                  <img src="/static/images/bosch.jpg" class="d-block w-100" height="400" alt="...">
                </a>
                  <div class="carousel-caption d-none d-md-block">
                  </div>
                </div>
                
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
            <div class="container-fluid mt-5">
              <div class="row offset-md-2 m-5 p-3">
                <div class="card offset-md-1 col-md-2 p-2" style="width: 18rem;">
                  <img src="/static/images/Taladro Percutor Bosch.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <div class="mt-auto"><p class="card-text descripcion-larga">Taladro Percutor Bosch<p>
                      <p class="card-text descripcion-larga">El taladro percutor y atornillador inalámbrico GSB 185-LI de Bosch es rápido, liviano y cómodo, ideal para trabajos exigentes. <p> 
                      </div>   
                    <a href="{%url 'productos'%}" class="btn btn-primary">Ver productos</a>
                  </div>
                </div>
                <div class="card col-md-2 offset-md-1 p-1" style="width: 18rem;">
                  <img src="/static/images/Sierra circular Makita.avif" class="card-img-top" alt="...">
                  <div class="card-body">
                    <p class="card-text descripcion-larga " >Sierra Circular Makita</p>
                    <p class="card-text descripcion-larga">Ligero y compacto.
                      El gatillo de seguridad doble evitará un arranque accidental, es fácil de operar incluso con las manos enguantadas y se puede operar desde ambos lados del mango. <p> 
                        <div class="mt-auto">
                          <a href="{% url 'productos' %}" class="btn btn-primary">Ver productos</a>
                        </div>
                  </div>
              </div>
              <div class="card col-md-2 offset-md-1 p-1" style="width: 18rem;">
                <img src="/static/images/herramientas stanley.avif" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text"> Juego herramientas mecánicas 120 piezas STANLEY </p>
                  <p class="card-text descripcion-larga">Herramientas con medidas en pulgadas y milímetros
                    Fabricados en acero Cromo Vanadio. Acabado en cromo para brindar una resistencia excepcional al óxido. <p> 
                  <a href="{%url 'productos'%}" class="btn btn-primary">Ver productos</a>
                </div>
            </div>
                <div class="card col-md-2 offset-md-1 p-1" style="width: 18rem;">
                  <img src="/static/images/sikaflex.webp" class="card-img-top" alt="...">
                  <div class="card-body">
                    <p class="card-text descripcion-larga"> Sikaflex-291 </p>
                    <p class="card-text descripcion-larga"> Sikaflex-291 es un sellante de poliuretano de un componente de alta calidad, especialmente desarrollado para el mercado marino, altamente adhesivo y que al ser expuesto a la humedad atmosférica cura formando un elástico durable y resistente. <p> 
                    <a href="{%url 'productos'%}" class="btn btn-primary">Ver productos</a>
                  </div>
              </div>
              <div class="card col-md-2 offset-md-1 p-1" style="width: 18rem;">
                <img src="/static/images/atornilladores.webp" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text descripcion-larga">Juego atornilladores y puntas onsite (tactix) 100pzas</p>
                  <p class="card-text descripcion-larga"> El mejor kit de atornilladores para los amantes de la carpinteria o aquellos que necesiten ayuda de todo tipo <p> 
                  <a href="{%url 'productos'%}" class="btn btn-primary">Ver productos</a>
                </div>
            </div>
            <div class="card col-md-2 offset-md-1 p-1" style="width: 18rem;">
              <img src="/static/images/Medidor.webp" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text ">Medidor Láser alcance 40 metros Bosch GLM 40</p>
                <p class="card-text descripcion-larga"> Con alcance de hasta 40 metros realiza funciones de cálculo, es posible calcular áreas, volúmenes y hasta alturas <p> 
                <a href="{%url 'productos'%}" class="btn btn-primary">Ver productos</a>
              </div>
          </div>
            </div>
{% endblock %}
{% block listado %} 
{% endblock %}