{# Esto es un comentario #}
{% extends "index.html" %}
{# definir contenidos que tendrán cada uno de los bloques #}
{% block script %} 
<script src="/static/javascript/usuario.js"></script>
{% endblock %}
{% block tituloPestana %} 
    CRUD Usuario
{% endblock %}
{% block tituloPagina %} 
    <div class="text-center mt-5">
        <h1>Registro Usuario</h1>
    </div>
{% endblock %}

{% block mensaje %} 
{% if mensaje %}
    <div class="alert alert-success mt-5" role="alert">
        {{ mensaje }}
    </div>
{% elif error %}
    <div class="alert alert-danger mt-5" role="alert">
        {{ error }}
    </div>
{% endif %}
{% endblock %}
{% block contenido %} 
<br>
    <div class="container">
        <div class="row">
            <div class="col-md-10 off-md-4">
                <div class="signup-form">
                    <form action="{%url 'usuario' %}" method="POST" autocomplete="off" class="mt-5 border p-4 bg-light shadow">
                        {% csrf_token %}
                        <h3 class="mb-4">Registrar Usuario</h3>
                        <div class="border p-3">
                            <h5>Información personal</h5>
                          <div class="row">
                            <div class="mb-3 col-md-10">
                              <input type="hidden" name="txtId" value="{{fila.id}}">
                              <label for="txtRut">Rut<span class="text-danger">*</span></label>
                              <input type="text" id="txtRut" name="txtRut" maxlength="8" minlength="8" placeholder="Ingrese su Rut" class="txtRut form-control" value="{{fila.rut}}">
                            </div>
                            <div class="mb-3 col-md-2">
                              <label for="txtDV">Digito verif.<span class="text-danger">*</span></label>
                              <input type="text" id="txtDV" name="txtDV" maxlength="1" minlength="1" placeholder="Ingrese su DV" class="txtDV form-control" value="{{fila.dv}}">
                            </div>
                          </div>
                          <div class="mb-3 col-md-12">
                            <label for="txtUsername">Nombre de Usuario<span class="text-danger">*</span></label>
                            <input type="text" id="txtUsername" name="txtUsername" placeholder="Ingrese su Nombre de Usuario" class="txtUsername form-control" value="{{fila.username}}">
                          </div>
                          <div class="row">
                          <div class="mb-3 col-md-6">
                              <label for="txtNombre">Nombre<span class="text-danger">*</span></label>
                              <input type="text" id="txtNombre" name="txtNombre" placeholder="Ingrese su Nombre" class="txtNombre form-control" value="{{fila.first_name}}">
                          </div>
                          <div class="mb-3 col-md-6">
                              <label for="txtApellido">Apellido<span class="text-danger">*</label>
                              <input type="text" id="txtApellido" name="txtApellido" placeholder="Ingrese su Apellido" class="txtApellido form-control" value="{{fila.last_name}}">
                          </div>
                          <div class="mb-3 col-md-12">
                              <label for="fecNac">Fecha Nacimiento<span class="text-danger">*</span> </label>
                              <input type="date" name="fecNac" id="fecNac" class="fecNac form-control" value="{{fila.fechaNac}}">
                          </div>
                        </div>
                        <div class="row">
                          <div class="mb-3 col-md-6">
                              <label for="txtPassword">Contraseña<span class="text-danger">*</label>
                              <input type="password" id="txtPassword" maxlength="25" minlength="8" name="txtPassword" placeholder="Ingrese su Contraseña" class="txtPassword form-control" value="">
                          </div>
                          <div class="mb-3 col-md-6">
                              <label for="txtPassword2">Confirmar Contraseña<span class="text-danger">*</label>
                              <input type="password" id="txtPassword2" maxlength="25" minlength="8" name="txtPassword2" placeholder="Confirme su Contraseña" class="txtPassword2 form-control" value="">
                          </div>
                      </div>
                      </div>
                      <div class="border mt-2 p-3">
                        <h5>Contacto</h5>
                          <div class="mb-3 col-md-12">
                              <label for="txtEmail">Email<span class="text-danger">*</label>
                              <input type="email" maxlength="75" minlength="13" id="txtEmail" name="txtEmail" placeholder="Ingrese su Email" class="txtEmail form-control" value="{{fila.email}}">
                          </div>
                          <div class="mb-3 col-md-12">
                            <label for="txtDireccion">Dirección<span class="text-danger">*</label>
                            <input type="text" id="txtDireccion" name="txtDireccion" placeholder="Ingrese su Dirección" class="txtDireccion form-control" value="{{fila.direccion}}">
                        </div>
                          <div class="mb-3 col-md-12">
                              <label for="txtTel">Teléfono<span class="text-danger">*</label>
                              <input type="tel" id="txtTel" name="txtTel" maxlength="12" placeholder="Ingrese su Teléfono" class="txtTel form-control" value="{{fila.telefono}}">
                          </div>
                        </div>
                        {% if fila.tipoDeUsuario == 1 %}
                        <div class="border mt-2 p-3">
                            <h5>Tipo de Usuario</h5>
                            <div class="row">
                                <label for="cmbTipoUsuario">Tipos de Usuario<span class="text-danger">*</span></label>
                                <select name="cmbTipoUsuario" class="cmbTipoUsuario form-select" id="cmbTipoUsuario" value="{{ fila.tipoUsuario }}">
                                  <option class="cmbTipoUsuario" hidden value="0">Seleccione una tipo de usuario</option>
                                    {% for fila in userCategories %}
                                    {% if fila.activo %}
                                      <option value="{{fila.id}}">{{fila.nombreTipoUsuario}}</option>
                                    {% endif %}
                                      {% endfor %}
                                </select>
                            </div>
                        </div>
                        {% endif %}
                        <div class="row">
                          {% if fila.tipoUsuario != 1 %}
                          <div class="col-md-4 mt-3">
                            <input type="submit" name="btnCreate" class="btnCreate btn btn-outline-success form-control" value="Registrar Usuario">
                          </div>
                          {% else %}
                          <div class="m-auto justify-content-center col-md-4 mt-3">
                            <input type="submit" name="btnCreate" class="btnCreate btn btn-outline-success form-control" value="Registrar Usuario">
                          </div>
                          {% endif %}
                          {% if fila.tipoUsuario != 1 %}
                          <div class="col-md-4 mt-3">
                            <input type="submit" name="btnRead" class="btnRead btn btn-outline-secondary form-control" value="Listar Usuarios">
                          </div>
                          <div class="col-md-4 mt-3">
                            <input type="submit" name="btnDelete" class="btnDelete btn btn-outline-danger form-control" value="Eliminar Usuario">
                          </div>
                          {% endif %}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block listado %} 
{% if listado %}
<div class="container">
    <div class="text-center mt-5">
        <div class="col-md-12 table-responsive">
            <table class="table table-light table-striped">
                <tr class="table-dark">
                    <th>Id</th>
                    <th>Rut</th>
                    <th>Dv</th>
                    <th>Nombre de Usuario</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Fecha Nac</th>
                    <th>Contraseña</th>
                    <th>Email</th>
                    <th>Direccion</th>
                    <th>Telefono</th>
                    <th>Tipo de Usuario</th>
                    <th>Suscrito</th>
                    <th>Editar</th>
                </tr>
    {% for fila in listado %}
                <tr>
                    <td>{{ fila.id }}</td>
                    <td>{{ fila.rut }}</td>
                    <td>{{ fila.dv }}</td>
                    <td>{{ fila.username }}</td>
                    <td>{{ fila.first_name }}</td>
                    <td>{{ fila.last_name }}</td>
                    <td>{{ fila.fechaNac }}</td>
                    <td>{{fila.password}}</td>
                    <td>{{ fila.email }}</td>
                    <td>{{ fila.direccion }}</td>
                    <td>{{ fila.telefono }}</td>
                    <td>{{ fila.tipoDeUsuario }}</td>
                    <td>{{ fila.suscrito }}</td>
                    <td><a href="{% url 'usuario' %}/{{ fila.id }}/">Editar</a></td>
                </tr>
    {% endfor %}
            </table>
        </div>
    </div>
</div>
{%endif%}
{% endblock %}